<%= render partial: "shared/header" %>
<h1 class="inventory-title">Inventories</h1>
<%= button_to('New Inventory', '/inventories/new') %>
<div class="separation bar">
<% @inventories.each do |inventory| %>
  <%= render partial: "inventories/inventory", object: inventory %>
<% end %>