default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5 
  username: postgres
  password: 143chris 

development:
  <<: *default
  database: Recipe_App_development

test:
  <<: *default
  database: Recipe_App_test

production:
  <<: *default
  database: Recipe_App_production
  username: Recipe_App
  password: <%= ENV["RECIPE_APP_DATABASE_PASSWORD"] %>
