<%= stylesheet_link_tag 'foods' %>
<h1>Foods</h1>

<%= link_to 'New Food', new_food_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
