// Place all the styles related to the inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.inventory-title {
  text-align: center;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.inventory-container {
  border: 1px solid #f8f8f8;
  background-color: #f8fdff;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 3px #dadada;
}

.i-right {
  width: 72%;
}

.i-left {
  width: 25%;
}

.i-name {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.-a {
  color: black;
  text-decoration: none;
}

.inventories {
  width: 60vw;
}

.separation-bar {
  position: relative;
  margin-top: 40px;
  content: "";
  top: 0;
  width: 90%;
  height: 1px;
  background-image:
    linear-gradient(
      to right,
      transparent,
      rgb(48, 49, 51),
      transparent
    );
}
