/* Color scheme */
:root {
  --primary-color: #00b8d4;
  --secondary-color: #b2dfdb;
  --tertiary-color: #80cbc4;
  --text-color: #212121;
  --light-text-color: #9e9e9e;
}

/* Typography */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

/* Layout and spacing */
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

.my-5 {
  margin: 3rem 0;
}

/* Table */
table {
  margin: 3px 0;
  width: 100%;
  border-collapse: collapse;
}

/* Table headings */
th {
  text-align: left;
  font-weight: 600;
  color: var(--light-text-color);
  background-color: var(--secondary-color);
  padding: 1rem;
}

/* Table rows */
tr {
  border-bottom: 1px solid var(--tertiary-color);
}

tr:hover {
  background-color: var(--tertiary-color);
}

/* Table cells */
td {
  padding: 1rem;
}

/* Button */
.btn {
  display: inline-block;
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.2s ease-in-out;
}

/* Form outline */
.form-outline {
  margin-bottom: 4px;
}

/* Form control */
.form-control {
  font-size: large;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--tertiary-color);
  transition: border-color 0.15s ease-in-out;
}

.form-control:focus {
  border-color: var(--primary-color);
  outline: 0;
}

/* Form select */
.form-select {
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--tertiary-color);
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23212121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  transition: border-color 0.15s ease-in-out;
}

.form-select:focus {
  border-color: var(--primary-color);
  outline: 0;
}

/* Submit button */
.submit-btn {
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-lg {
  font-size: 1.25rem;
  padding: 1rem 2rem;
}

.btn-block {
  width: 100%;
}

/* New food container */
.new-food-container {
  display: grid;
  justify-content: center;
}

/* Create title */
.create-title {
  text-align: center;
  margin-bottom: 2rem;
}
